* {
    box-sizing: border-box;
}

div {
    width: 200px;
    height: 200px;
    margin: 50px auto;
    position: relative;
    perspective: 600px;
    transition: 0.8s;
    transform-style: preserve-3d;
}

div:hover{
    transform: rotateY(180deg);
    /* transform: rotateX(180deg); */
}

div::before,
div::after {
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

div::before {
    content: 'Front';
    background-color: #FA3664;
}

div::after {
    content: 'Back';
    background-color: #0075FF;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    /* transform: rotateX(180deg); */
}