* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.grid {
    background-color: #ddd;
    padding: 20px;
    width: 800px;
    height: 400px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 15px;
    grid-template-areas: 
    "eight eight eight eight eight eight eight eight eight eight"
    "two two two two two two two three three three"
    "four four four five five five five five five five"
    "six six six five five five five five five five"
    "seven seven seven five five five five five five five"
    "one one one one one one one one one one ";
}

.grid div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #2196F3;
    color: white;
}

.one {
    grid-area: one;
}

.two {
    grid-area: two;
}

.three {
    grid-area: three;
}

.four {
    grid-area: four;
}

.five {
    grid-area: five;
}

.six {
    grid-area: six;
}

.seven {
    grid-area: seven;
}

.eight {
    grid-area: eight;
    
}