* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --bg-color: #CCC;
}

.page {
    background-color: #EEE;
    line-height: 3;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

.content {
    background-color: var(--bg-color);
}

.sidebar {
    background-color: var(--bg-color);
}

.footer {
    background: var(--bg-color);
}

@media all and (min-width: 768px) {
    .page {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .header,
    .footer {
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    .logo {
        background-color: var(--bg-color);
        margin: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 0.5;
    }

    .links {
        list-style-type: none;
        background-color: var(--bg-color);
        margin: 10px;
        padding-right: 15px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        flex: 6;
        column-gap: 10px;
    }

    .main-area {
        display: inline-flex;
        flex-direction: row;
        flex: 1;
        min-height: 85vh;
    }

    .content,
    .sidebar {
        height: 82vh;
        margin: 10px;
        padding: 10px;
        display: flex;
        justify-content: flex-start;
    }

    .content {
        width: 60%;
    }

    .sidebar {
        width: 40%;
    }

    .footer {
        margin: 10px;
        padding-left: 15px;
        padding-right: 15px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap; 
    }
}